.body-table-schedule {
  text-align: center;
}

.access-button button {
  border: none;
  background-color: #4caf50; /* Cor de fundo */
  color: white; /* Cor do texto */
  padding: 8px 5px; /* Espaçamento interno */
  border-radius: 20px; /* Borda arredondada */
  cursor: pointer;
}

.access-button button:hover {
  background-color: #45a049; /* Cor de fundo ao passar o mouse */
}

.users {
  display: flex;
  grid-gap: 2px;
}

.user-button {
  max-width: 50px;
  padding: 0 3px;
  cursor: pointer;
  border: 1px solid #45a049;
}

.edit-button, .delete-button, .access-button {
  padding-left: 5px;
}

.actions-icons{
  display: flex;
  align-items: center;
}

.delete-button{
  cursor: pointer;
  margin-right: 8px ;
  margin-left: 8px ;
}